In [50]:
import os
import seaborn as sns
import matplotlib.pyplot as plt

import SALib.analyze.morris
from SALib.sample import morris

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../')

from tqdm import tqdm

from infrasim.optimise import *
from infrasim.utils import *

In [100]:
#File paths
nodes = '../data/nextra/spatial/network/nodes.shp'
edges = '../data/nextra/spatial/network/edges.shp'
flows = '../data/nextra/nodal_flows/processed_flows_2030.csv'

timesteps   = 24
num_levels  = 10
N           = 10

# Set up problem for sensitivity analysis # name:[lower_bound,upper_bound]
params = {'coop_res_target'                 : [0,0.5],
          'jordan_to_westbank'              : [0,10**12],
          'jordan_to_israel'                : [0,10**12],
          'israel_to_westbank'              : [0,10**12],
          'israel_to_jordan'                : [0,10**12],
          'israel_to_gaza'                  : [0,10**12],
          'westbank_to_israel'              : [0,10**12],
          'westbank_to_jordan'              : [0,10**12],
          'self_sufficiency_factor'         : [0,0.9],
         }

problem = {'num_vars'    : len(params.keys()),
           'names'       : [i for i in params.keys()],
           'bounds'      : [params[i] for i in params.keys()]
          }

# create parameter values
param_values = morris.sample(problem,N=N,
                             num_levels=num_levels,
                             local_optimization=True)

# Run analysis with the specified parameter values
collected_caps_israel   = []
collected_caps_jordan   = []
collected_caps_westbank = []
collected_caps_gaza     = []

for param_set in tqdm(param_values,total=len(param_values)):

    model_run = nextra(nodes,edges,flows,
                       timesteps=timesteps,
                       energy_objective=True,
                       scenario='COO',
                       super_sink=False,
                       super_source=False,
                       # params
                       coo_res_factor=param_set[0],
                       jordan_to_westbank=param_set[1],
                       jordan_to_israel=param_set[2],
                       israel_to_westbank=param_set[3],
                       israel_to_jordan=param_set[4],
                       israel_to_gaza=param_set[5],
                       westbank_to_israel=param_set[6],
                       westbank_to_jordan=param_set[7],
                       self_sufficiency_factor=param_set[8],
                      )
    
    # build, run, and get results
    model_run.build()
    model_run.run(pprint=False)
    model_results = model_run.get_results()
    
    # get capacities
    caps = model_results.results_capacities.groupby(by=['node','territory']).max().reset_index()
    caps = caps.groupby(by='territory').sum().reset_index()
    
    # append collected capacities
    collected_caps_israel.append(caps.loc[caps.territory == 'Israel','value'].values[0])
    collected_caps_jordan.append(caps.loc[caps.territory == 'Jordan','value'].values[0])
    collected_caps_westbank.append(caps.loc[caps.territory == 'West Bank','value'].values[0])
    collected_caps_gaza.append(caps.loc[caps.territory == 'Gaza','value'].values[0])

  0%|                                                                                                 | 0/20 [00:00<?, ?it/s]

  5%|████▍                                                                                    | 1/20 [00:23<07:24, 23.41s/it]

 10%|████████▉                                                                                | 2/20 [00:47<07:06, 23.71s/it]

 15%|█████████████▎                                                                           | 3/20 [01:11<06:43, 23.76s/it]

 20%|█████████████████▊                                                                       | 4/20 [01:36<06:32, 24.54s/it]

 25%|██████████████████████▎                                                                  | 5/20 [02:02<06:14, 24.94s/it]

 30%|██████████████████████████▋                                                              | 6/20 [02:28<05:52, 25.20s/it]

 35%|███████████████████████████████▏                                                         | 7/20 [02:53<05:28, 25.25s/it]

 40%|███████████████████████████████████▌                                                     | 8/20 [03:18<05:00, 25.06s/it]

 45%|████████████████████████████████████████                                                 | 9/20 [03:43<04:37, 25.25s/it]

 50%|████████████████████████████████████████████                                            | 10/20 [04:09<04:14, 25.42s/it]

 55%|████████████████████████████████████████████████▍                                       | 11/20 [04:33<03:44, 24.99s/it]

 60%|████████████████████████████████████████████████████▊                                   | 12/20 [04:58<03:18, 24.84s/it]

 65%|█████████████████████████████████████████████████████████▏                              | 13/20 [05:23<02:55, 25.12s/it]

 70%|█████████████████████████████████████████████████████████████▌                          | 14/20 [05:49<02:31, 25.23s/it]

 75%|██████████████████████████████████████████████████████████████████                      | 15/20 [06:14<02:06, 25.24s/it]

 80%|██████████████████████████████████████████████████████████████████████▍                 | 16/20 [06:39<01:40, 25.24s/it]

 85%|██████████████████████████████████████████████████████████████████████████▊             | 17/20 [07:04<01:15, 25.11s/it]

 90%|███████████████████████████████████████████████████████████████████████████████▏        | 18/20 [07:29<00:50, 25.13s/it]

 95%|███████████████████████████████████████████████████████████████████████████████████▌    | 19/20 [07:55<00:25, 25.22s/it]

100%|████████████████████████████████████████████████████████████████████████████████████████| 20/20 [08:20<00:00, 25.03s/it]

In [106]:
def process_morris_results(problem,param_values,collected_results,num_levels):
    '''Process output from Morris sensitivitys
    '''
    Si = SALib.analyze.morris.analyze(problem,
                                      np.array(param_values),
                                      np.array(collected_results),
                                      print_to_console=False,
                                      num_levels=num_levels)

    sensitivity_results = pd.DataFrame.from_dict(Si)
    return sensitivity_results

israel_results = process_morris_results(problem,param_values,collected_caps_israel,num_levels)
jordan_results = process_morris_results(problem,param_values,collected_caps_jordan,num_levels)
westbank_results = process_morris_results(problem,param_values,collected_caps_westbank,num_levels)
gaza_results = process_morris_results(problem,param_values,collected_caps_gaza,num_levels)

In [107]:
israel_results

                     names   mu  mu_star  sigma  mu_star_conf
0          coop_res_target  0.0      0.0    0.0           0.0
1       jordan_to_westbank  0.0      0.0    0.0           0.0
2         jordan_to_israel  0.0      0.0    0.0           0.0
3       israel_to_westbank  0.0      0.0    0.0           0.0
4         israel_to_jordan  0.0      0.0    0.0           0.0
5           israel_to_gaza  0.0      0.0    0.0           0.0
6       westbank_to_israel  0.0      0.0    0.0           0.0
7       westbank_to_jordan  0.0      0.0    0.0           0.0
8  self_sufficiency_factor  0.0      0.0    0.0           0.0

In [108]:
jordan_results

                     names   mu  mu_star  sigma  mu_star_conf
0          coop_res_target  0.0      0.0    0.0           0.0
1       jordan_to_westbank  0.0      0.0    0.0           0.0
2         jordan_to_israel  0.0      0.0    0.0           0.0
3       israel_to_westbank  0.0      0.0    0.0           0.0
4         israel_to_jordan  0.0      0.0    0.0           0.0
5           israel_to_gaza  0.0      0.0    0.0           0.0
6       westbank_to_israel  0.0      0.0    0.0           0.0
7       westbank_to_jordan  0.0      0.0    0.0           0.0
8  self_sufficiency_factor  0.0      0.0    0.0           0.0

In [109]:
westbank_results

                     names   mu  mu_star  sigma  mu_star_conf
0          coop_res_target  0.0      0.0    0.0           0.0
1       jordan_to_westbank  0.0      0.0    0.0           0.0
2         jordan_to_israel  0.0      0.0    0.0           0.0
3       israel_to_westbank  0.0      0.0    0.0           0.0
4         israel_to_jordan  0.0      0.0    0.0           0.0
5           israel_to_gaza  0.0      0.0    0.0           0.0
6       westbank_to_israel  0.0      0.0    0.0           0.0
7       westbank_to_jordan  0.0      0.0    0.0           0.0
8  self_sufficiency_factor  0.0      0.0    0.0           0.0

In [110]:
gaza_results

                     names   mu  mu_star  sigma  mu_star_conf
0          coop_res_target  0.0      0.0    0.0           0.0
1       jordan_to_westbank  0.0      0.0    0.0           0.0
2         jordan_to_israel  0.0      0.0    0.0           0.0
3       israel_to_westbank  0.0      0.0    0.0           0.0
4         israel_to_jordan  0.0      0.0    0.0           0.0
5           israel_to_gaza  0.0      0.0    0.0           0.0
6       westbank_to_israel  0.0      0.0    0.0           0.0
7       westbank_to_jordan  0.0      0.0    0.0           0.0
8  self_sufficiency_factor  0.0      0.0    0.0           0.0

In [113]:
collected_caps_gaza

[3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586,
 3344.482050548586]

In [118]:

caps

   territory  timestep         value
0       Gaza      9604   3024.155735
1     Israel     19208  16163.000000
2     Jordan     19208  37121.077015
3  West Bank     16807   1258.517129