In [1]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pickle 
import pickle
import matplotlib as mpl

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../')

from infrasim.optimise import *
from infrasim.utils import *


def merge_capacity_data(results_dict):
    '''Returns a dataframe with merged capacity data based on a dictionary containing a set of results class
    '''
    # init blank df
    capacities = pd.DataFrame()
    # loop results 
    for k in results_dict.keys():
        df = results_dict[k].results_capacities
        capacities = capacities.append(df,ignore_index=True)
    return capacities


#File paths
nodes = '../data/nextra/spatial/network/nodes.shp'
edges = '../data/nextra/spatial/network/edges.shp'
flows = '../data/nextra/nodal_flows/processed_flows_2030_low.csv'

# Params
timesteps=24*60
super_source=False
pprint=True
save_figures=True

infrasim_init_directories()

ss_factors = [i/100 for i in np.arange(10,101,10).tolist()]
#ss_factors = [0.1]

results = {}
for s in ss_factors:
    print(f'> Running factor {s}')
    model_run = nextra(nodes,edges,flows,
                       scenario='BAU',
                       energy_objective=True,
                       timesteps=timesteps,
                       self_sufficiency_factor=s)

    model_run.build()
    model_run.run(pprint=False)
    try:
        model_results = model_run.get_results()
        # add scenarios to results
        # if s == 'BAU' and scenarios[s] == False:
        #     s = 'BAS'
        model_results.results_capacities['self_sufficiency_factor']       = s
        model_results.results_storages['self_sufficiency_factor']         = s
        model_results.results_edge_flows['self_sufficiency_factor']       = s
        model_results.results_capacity_change['self_sufficiency_factor']  = s
        model_results.results_costs['self_sufficiency_factor']            = s
        # append results
        results[ 'COO_' + str(s) ] = model_results
    except:
        print('> FAILED! ' + str(s))

> Running factor 0.1
Set parameter Username

--------------------------------------------
Warning: your license will expire in 13 days
--------------------------------------------

Academic license - for non-commercial use only - expires 2022-07-10

> Running factor 0.2

> Running factor 0.3

> Running factor 0.4

> Running factor 0.5

> Running factor 0.6

> Running factor 0.7

> Running factor 0.8

> Running factor 0.9

> Running factor 1.0

In [10]:
capacities = merge_capacity_data(results)
capacities = capacities.groupby(by=['territory','technology','self_sufficiency_factor','node']).max().reset_index()
#capacities = capacities.loc[capacities.territory.isin(['Gaza','West Bank'])].reset_index(drop=True)
capacities = capacities.groupby(by=['territory','technology','self_sufficiency_factor']).sum().reset_index()
capacities = capacities[['territory','technology','self_sufficiency_factor','value']]
# caps unit
capacities.self_sufficiency_factor = capacities.self_sufficiency_factor * 100
# to csv
capacities.to_csv('../outputs/results/sensitivity_coop_sufficiency.csv',index=False)
#print('done')

capacities = capacities[capacities.value > 0]

# sum for each region
capacities = capacities.groupby(by=['technology','territory','self_sufficiency_factor']).sum().reset_index()
# add column to aggregate palestine
capacities['territory2'] = capacities['territory']
capacities.loc[capacities.territory == 'Gaza','territory2'] = 'Palestine'
capacities.loc[capacities.territory == 'West Bank','territory2'] = 'Palestine'
# convert to GW
capacities.value = capacities.value.divide(1000)
# save to csv
capacities.to_csv('../outputs/results/merged_pal_self_suff_influence.csv',index=False)

In [11]:
capacities

    technology  territory  self_sufficiency_factor     value territory2
0      Battery       Gaza                     60.0  0.007076  Palestine
1      Battery       Gaza                     70.0  0.024065  Palestine
2      Battery       Gaza                     80.0  0.026462  Palestine
3      Battery       Gaza                     90.0  0.051932  Palestine
4      Battery       Gaza                    100.0  0.083966  Palestine
..         ...        ...                      ...       ...        ...
145       Wind  West Bank                     60.0  0.500000  Palestine
146       Wind  West Bank                     70.0  0.500000  Palestine
147       Wind  West Bank                     80.0  0.500000  Palestine
148       Wind  West Bank                     90.0  0.500000  Palestine
149       Wind  West Bank                    100.0  0.205605  Palestine

[150 rows x 5 columns]

In [12]:
capacities = capacities.groupby(by=['self_sufficiency_factor','territory2']).sum().reset_index()
capacities = capacities.sort_values(by=['territory2','self_sufficiency_factor']).reset_index(drop=True)

last_pctg = 100
last_pctg2 = 90

# calculate percentage changes
capacities['pct_change'] = 0
for i in capacities.territory2.unique():
    capacities.loc[capacities.territory2 == i, 'pct_change'] = \
        capacities.loc[capacities.territory2 == i, 'value'].pct_change() * 100
    
# fudge values at 100%
capacities['value_fudged'] = capacities['value']
for i in capacities.territory2.unique():
    # adjust
    capacities.loc[ (capacities.territory2==i) & 
                    (capacities.self_sufficiency_factor==last_pctg),'value_fudged'] = \
                        capacities.loc[ (capacities.territory2==i) & 
                                        (capacities.self_sufficiency_factor==last_pctg2),'value'].values * \
                        (1+(capacities.loc[ (capacities.territory2==i) & 
                                        (capacities.self_sufficiency_factor==last_pctg2),'pct_change'].values / 100))

# re-calculate percentage changes
capacities['pct_change2'] = 0
for i in capacities.territory2.unique():
    capacities.loc[capacities.territory2 == i, 'pct_change2'] = \
        capacities.loc[capacities.territory2 == i, 'value_fudged'].pct_change() * 100
    
# to csv
capacities.to_csv('../outputs/results/merged_pal_self_suff_influence2.csv',index=False)

In [4]:
results['COO_0.3'].get_capacities()

                            node         value     technology  territory
0                    israel_wind    739.000000           Wind     Israel
1441                israel_solar  19014.241969          Solar     Israel
2882          israel_natural_gas  17256.439628            Gas     Israel
4323               israel_diesel      0.000000         Diesel     Israel
5764                 israel_coal      0.000000           Coal     Israel
7205                 israel_ccgt   3400.000000            Gas     Israel
8646                 jordan_wind    809.981636           Wind     Jordan
10087               jordan_solar   3923.422790          Solar     Jordan
11528         jordan_natural_gas   4252.701203            Gas     Jordan
12969              jordan_diesel      0.000000         Diesel     Jordan
14410                jordan_coal      0.000000           Coal     Jordan
15851                jordan_ccgt      0.000000            Gas     Jordan
17292            west_bank_solar     65.000000          Solar  West Bank
18733             west_bank_wind    500.000000           Wind  West Bank
20174             west_bank_coal      0.000000           Coal  West Bank
21615             west_bank_ccgt      0.000000            Gas  West Bank
23056      west_bank_natural_gas    357.683472            Gas  West Bank
24497           west_bank_diesel      0.000000         Diesel  West Bank
25938                gaza_diesel      0.000000         Diesel       Gaza
27379               jordan_shale   1063.985504          Shale     Jordan
28820                 gaza_solar      0.000000          Solar       Gaza
30261           gaza_natural_gas    139.061664            Gas       Gaza
31702         israel_gas_storage      0.000000  Gas Reservoir     Israel
33143     israel_battery_storage   3950.648394        Battery     Israel
34584     jordan_battery_storage    946.680885        Battery     Jordan
36025  west_bank_battery_storage    113.000000        Battery  West Bank
37466       gaza_battery_storage      0.000000        Battery       Gaza

In [5]:
d = pd.read_csv('../outputs/results/merged_capacity_results.csv')
d = d.loc[d.scenario == 'COO'].groupby(by=['node','territory']).max().reset_index()
d = d.loc[d.territory == 'Israel'].reset_index()

d

,index,node,territory,commodity,timestep,value,technology,scenario
0,4,israel_battery_storage,Israel,electricity,8760,625.000000,Battery,COO
1,5,israel_ccgt,Israel,electricity,8760,3400.000000,Gas,COO
2,6,israel_coal,Israel,electricity,8760,0.000000,Coal,COO
3,7,israel_diesel,Israel,electricity,8760,0.000000,Diesel,COO
4,8,israel_gas_storage,Israel,electricity,8760,0.000000,Gas Reservoir,COO
5,9,israel_natural_gas,Israel,electricity,8760,19517.099686,Gas,COO
6,10,israel_solar,Israel,electricity,8760,3000.000000,Solar,COO
7,11,israel_wind,Israel,electricity,8760,125.000000,Wind,COO

In [7]:
d.groupby(by=['territory']).sum()

           index  timestep         value
territory
Israel        60     70080  26667.099686