In [1]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pickle 
import pickle
import matplotlib as mpl

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../')

from infrasim.optimise import *
from infrasim.utils import *


def merge_capacity_data(results_dict):
    '''Returns a dataframe with merged capacity data based on a dictionary containing a set of results class
    '''
    # init blank df
    capacities = pd.DataFrame()
    # loop results 
    for k in results_dict.keys():
        df = results_dict[k].results_capacities
        capacities = capacities.append(df,ignore_index=True)
    return capacities


#File paths
nodes = '../data/nextra/spatial/network/nodes.shp'
edges = '../data/nextra/spatial/network/edges.shp'
flows = '../data/nextra/nodal_flows/processed_flows_2030_low.csv'

# Params
timesteps=None#24*30
super_source=False
pprint=True
save_figures=True

infrasim_init_directories()

ss_factors = [i/100 for i in np.arange(0,101,10).tolist()]
#ss_factors = [0.1]

results = {}
for s in ss_factors:
    print(f'> Running factor {s}')
    model_run = nextra(nodes,edges,flows,
                       scenario='COO',
                       energy_objective=True,
                       timesteps=timesteps,
                       self_sufficiency_factor=s)

    model_run.build()
    model_run.run(pprint=False)
    try:
        model_results = model_run.get_results()
        # add scenarios to results
        # if s == 'BAU' and scenarios[s] == False:
        #     s = 'BAS'
        model_results.results_capacities['self_sufficiency_factor']       = s
        model_results.results_storages['self_sufficiency_factor']         = s
        model_results.results_edge_flows['self_sufficiency_factor']       = s
        model_results.results_capacity_change['self_sufficiency_factor']  = s
        model_results.results_costs['self_sufficiency_factor']            = s
        # append results
        results[ 'COO_' + str(s) ] = model_results
    except:
        print('> FAILED! ' + str(s))

> Running factor 0.0
Set parameter Username
Academic license - for non-commercial use only - expires 2022-07-10

> FAILED! 0.0
> Running factor 0.1

> Running factor 0.2

> Running factor 0.3

> Running factor 0.4

> Running factor 0.5

> Running factor 0.6

> Running factor 0.7

> Running factor 0.8

> Running factor 0.9

> Running factor 1.0

In [2]:
capacities = merge_capacity_data(results)
capacities = capacities.groupby(by=['territory','technology','self_sufficiency_factor','node']).max().reset_index()
#capacities = capacities.loc[capacities.territory.isin(['Gaza','West Bank'])].reset_index(drop=True)
capacities = capacities.groupby(by=['territory','technology','self_sufficiency_factor']).sum().reset_index()
capacities = capacities[['territory','technology','self_sufficiency_factor','value']]
# caps unit
capacities.self_sufficiency_factor = capacities.self_sufficiency_factor * 100
# to csv
capacities.to_csv('../outputs/results/sensitivity_coop_sufficiency.csv',index=False)
#print('done')

capacities = capacities[capacities.value > 0]

# sum for each region
capacities = capacities.groupby(by=['technology','territory','self_sufficiency_factor']).sum().reset_index()
# add column to aggregate palestine
capacities['territory2'] = capacities['territory']
capacities.loc[capacities.territory == 'Gaza','territory2'] = 'Palestine'
capacities.loc[capacities.territory == 'West Bank','territory2'] = 'Palestine'
# convert to GW
capacities.value = capacities.value.divide(1000)
# save to csv
capacities.to_csv('../outputs/results/merged_pal_self_suff_influence.csv',index=False)

In [3]:
capacities = capacities.groupby(by=['self_sufficiency_factor','territory2']).sum().reset_index()
capacities = capacities.sort_values(by=['territory2','self_sufficiency_factor']).reset_index(drop=True)
# calculate percentage changes
capacities['pct_change'] = 0
for i in capacities.territory2.unique():
    capacities.loc[capacities.territory2 == i, 'pct_change'] = \
        capacities.loc[capacities.territory2 == i, 'value'].pct_change() * 100
    
# fudge values at 100%
capacities['value_fudged'] = capacities['value']
for i in capacities.territory2.unique():
    # adjust
    capacities.loc[ (capacities.territory2==i) & 
                    (capacities.self_sufficiency_factor==100),'value_fudged'] = \
                        capacities.loc[ (capacities.territory2==i) & 
                                        (capacities.self_sufficiency_factor==90),'value'].values * \
                        (1+(capacities.loc[ (capacities.territory2==i) & 
                                        (capacities.self_sufficiency_factor==90),'pct_change'].values / 100))

# re-calculate percentage changes
capacities['pct_change2'] = 0
for i in capacities.territory2.unique():
    capacities.loc[capacities.territory2 == i, 'pct_change2'] = \
        capacities.loc[capacities.territory2 == i, 'value_fudged'].pct_change() * 100
    
# to csv
capacities.to_csv('../outputs/results/merged_pal_self_suff_influence2.csv',index=False)

In [9]:
results['COO_0.3'].get_capacities()

                             node         value     technology  territory
0                     israel_wind    125.000000           Wind     Israel
8760                 israel_solar   3000.000000          Solar     Israel
17520          israel_natural_gas  24142.857150            Gas     Israel
26280               israel_diesel      0.000000         Diesel     Israel
35040                 israel_coal      0.000000           Coal     Israel
43800                 israel_ccgt   3400.000000            Gas     Israel
52560                 jordan_wind   3835.087612           Wind     Jordan
61320                jordan_solar  20330.325077          Solar     Jordan
70080          jordan_natural_gas   2823.000000            Gas     Jordan
78840               jordan_diesel      0.000000         Diesel     Jordan
87600                 jordan_coal      0.000000           Coal     Jordan
96360                 jordan_ccgt      0.000000            Gas     Jordan
105120            west_bank_solar      7.500000          Solar  West Bank
113880             west_bank_wind     50.000000           Wind  West Bank
122640             west_bank_coal      0.000000           Coal  West Bank
131400             west_bank_ccgt      0.000000            Gas  West Bank
140160      west_bank_natural_gas    508.312476            Gas  West Bank
148920           west_bank_diesel      0.000000         Diesel  West Bank
157680                gaza_diesel      0.000000         Diesel       Gaza
166440               jordan_shale      0.000000          Shale     Jordan
175200                 gaza_solar      0.000000          Solar       Gaza
183960           gaza_natural_gas    135.117960            Gas       Gaza
192720         israel_gas_storage      0.000000  Gas Reservoir     Israel
201480     israel_battery_storage    625.000000        Battery     Israel
210240     jordan_battery_storage   4833.082538        Battery     Jordan
219000  west_bank_battery_storage     11.500000        Battery  West Bank
227760       gaza_battery_storage      0.000000        Battery       Gaza

In [28]:
d = pd.read_csv('../outputs/results/merged_capacity_results.csv')
d = d.loc[d.scenario == 'COO'].groupby(by=['node','territory']).max().reset_index()
d = d.loc[d.territory == 'Israel'].reset_index()

d

,index,node,territory,commodity,timestep,value,technology,scenario
0,4,israel_battery_storage,Israel,electricity,8760,625.00000,Battery,COO
1,5,israel_ccgt,Israel,electricity,8760,3400.00000,Gas,COO
2,6,israel_coal,Israel,electricity,8760,0.00000,Coal,COO
3,7,israel_diesel,Israel,electricity,8760,0.00000,Diesel,COO
4,8,israel_gas_storage,Israel,electricity,8760,0.00000,Gas Reservoir,COO
5,9,israel_natural_gas,Israel,electricity,8760,24142.85715,Gas,COO
6,10,israel_solar,Israel,electricity,8760,3000.00000,Solar,COO
7,11,israel_wind,Israel,electricity,8760,125.00000,Wind,COO

In [25]:
d.groupby(by=['territory']).sum()

           timestep         value
territory
Gaza          35040    135.117961
Israel        70080  31292.857150
Jordan        70080  31821.495226
West Bank     61320    577.312476